/* CSS reset */

* {
	margin:0;
	padding: 5px;
}

.center, p, ul {
			text-align: center;
}

.second-heading {
			color:red;
}

.red-text {
	color: blue;
}

.underline {
			text-decoration: line-through;
}

#bog {
	     color: rgb(255, 255, 102);
	     font-style: italic;
}

h1 {
	font-size: 100px;
}

div p:hover{
	 color: blue;
}